[manifest]
version = "1.0.0"
dump_lua = true
priority = 0

[[patches]]
[patches.pattern]
target = "main.lua"
pattern = 'require "challenges"'
position = "after"
payload = "require('bridge/main')"
match_indent = true